// my projects
/*
.projects-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'project1 project2 project3'
    'project4 project5';
    grid-template-columns: repeat(3, 1fr);
}

.project1 {
    grid-area: project1;
    font-size: 1.075rem;
}

.project2 {
    grid-area: project2;
    font-size: 1.075rem;
}


.project3 {
    grid-area: project3;
    font-size: 1.075rem;
}


.project4 {
    grid-area: project4;
    font-size: 1.075rem;
}

.project5 {
    grid-area: project5;
    font-size: 1.075rem;
}
*/

.project {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 3px solid;
    margin-bottom: 2.5rem;

    h4 {
        font-weight: 400;
        font-size: 1.25rem;
    }
}

.mylist {
    a {
        padding: 0px;
        margin: 7.5px;
    }
}

//button styles
.btn {
    display: block;
    border: 0;
    margin-bottom: 1rem;
    height: 27.50px;
    width: 150px;
    text-align: center;
    justify-content: center;

    &:hover {
        background: $secondary-color;
        color: $primary-color-a;
    }
}

.btn-dark {
    @extend .btn;
    background: $primary-color-a;
    color: white;
}

.btn-light {
    @extend .btn;
    background: white;
    color: black;
}
